tools/lib/*.jar
tools/*.gnosis
uk.org.whitecottage.gnosis/bin/**/*.class
uk.org.whitecottage.gnosis/src-gen/**/*.java
uk.org.whitecottage.gnosis.design/bin/**/*.class
uk.org.whitecottage.gnosis.edit/
uk.org.whitecottage.gnosis.editor/