@import url('common.css');
@import url('../js/jstree/themes/default/style.css');
@import url('../js/jquery-ui/jquery-ui.css');
@import url('../js/jqte/jquery-te-1.4.0.css');
@import url('../js/selectric/selectric.css');

/* Override for jqte to ensure that it loads the toolbar image in the portal by using an absoute URL */
.jqte_tool_icon {
	display:block;
	width:22px;
	height:22px;
	background:url('jquery-te.png') no-repeat;
}

div.jqte {
	margin-top: 0px;
}

div.selectric {
	overflow: visible;
}