@import url('common.css');
@import url('../js/jquery-ui/jquery-ui.css');
@import url('../js/jstree/themes/default/style.css');
@import url('../js/selectric/selectric.css');

div.selectric {
	overflow: visible;
}

div.flow-table {
	display: table;
	table-layout: fixed;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
}

div.flow-row {
	display: table-row;
}

div.flow-cell {
	display: table-cell;
}

div.flow-process {
	background: #cc66cc;
	height: 25px;
	text-align: center;
	vertical-align: middle;
}

div.flow-label {
	padding-left: 10px;
	padding-right: 10px;
	font-size: smaller;
	line-height: 130%;
}