/* @import url('../js/selectric/selectric.css'); */
/* Override for jqte to ensure that it loads the toolbar image in the portal by using an absoute URL */
.jqte_tool_icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url("jquery-te.png") no-repeat; }

div.jqte {
  margin-top: 0px; }

div.selectric {
  overflow: visible; }

div.tree-panel {
  overflow-x: auto;
  min-width: 350px;
  max-width: 350px; }

